.main-container{
    width: 428px;
    height: 742px;
    left: 947px;
    top: 1029px;
    border-radius: 0px;
    background: #EEEEEE;


}
.recent-donation{
    margin: 32px 29px;
}
.recent-donation h3{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 12px;
}
.recent-donation-container{
    display: flex;
    margin-bottom: 62px;

}
.recent-donation-details{
    margin-left: 12px;
}
.donation-price{
    color: #FD7E14;
}
.donation-time{
    color: #D90000;
    font-weight: 500;
    margin-left: 15px;
}
.recent-donation-details  .donation-person{
    font-family: 'Comfortaa';
   
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;

}
.recent-donation-details p{
    margin-top: 27px;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
     color: #908E8E;
}
.share-cause{
    margin-top: 112px;
    width: 428px;
    height: 151px;
    background: #EEEEEE;
    border-radius: 15px;
}
