.content2-wrapper{
    width: 100vw;
    height: 300px;
    margin-top: 43px;
    background: #ECF5FF;
    position: relative;

}
.content{
    height: 190px;
    width: 649px;
    position: absolute;
    left: 187px;
    top: 54px;
    border-left: 3px solid #0448BC;


}
.content2-wrapper .content p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    padding-top: 6px;
    padding-left: 39px;
    align-items: center;
    color: #000000;
    text-align: justify;
}

/* mediaquerry start */

@media (max-width:768px) {
    .content{
        position: absolute;
        left: 54px;
    
    }
    .content2-wrapper{
        margin-top:208px ;
    }
}
@media screen and (min-width: 320px) and (max-width:600px) {
    .content2-wrapper{
        width: max-content;
        margin-top: 208px;
    }
}