.header-container {
    width: 100vw;
    height: 113px;
    
}
.header-container h1 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 71px;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    width: 622px;
    height: 71px;
    margin-left: 144px;
    margin-top: 59px;
}

/* mediaquerry start */

@media (max-width:768px) {
   
        .header-container {
            width: 100vw;
        }
        .header-container h1{
           margin-left: 118px;
            
        }

    
}