.container3-wrapper{
    width: 100vw;
    height: 406px;
    background: #067749;
    position: relative;
}
.container3-wrapper{
    position: absolute;
}
.container3-wrapper h1{
    width: 566px;
    height: 55px;
    margin-left: 437px;
    margin-top: 82px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    color: #FFFFFF;
 }

.container3-list{
    display: flex;
    margin-left: 374px;
    margin-top: 48px;
}
.container3-list-item{
    width: 132px;
    border-right: 2px solid #FF9E00;
    margin-left: 30px;
}
.container3-list-item.border{
    border: none;
}
.container3-list-item ul li{
    list-style: none;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.container3-list-item ul li h3{
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;  
    color: #FFFFFF;
}

/* mediaquerry start */

@media (max-width:768px) {
    .container3-wrapper h1{
        margin-left:113px;
    
    }
    .container3-list{
        margin-left: 64px;
    }
}
@media screen and (min-width: 320px) and (max-width:600px) {
    .container3-wrapper{
        width: 875px;
    }
}